body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  position: relative;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}
.header {
  position: sticky;
  top: 0;
  width: 100%;
  background: #ffffff;
}

.header__nav-link {
  padding: 15px 15px;
  display: flex;
}
.header__nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

section {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
#one {
  background: green;
}
#two {
  background: orange;
}
#three {
  background: orangered;
}
#four {
  background: greenyellow;
}
#five {
  background: rebeccapurple;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#skipnav {
  background: transparent;
  color: #000000;
  left: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  top: -4.2rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}
.header__nav-item .active {
  background: #a1a1a1;
  color: #fff;
}
