*{
    margin-top: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
.footer{
    margin-top:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background: #232323;
    color:#ffffff;
} 
.section {
    
  }

  .container{
      max-width:1140px;
      margin:0 auto;
  }
  .section__title{
      text-align: center;
  }
#loadDataHere{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 100px;

}
  #loadDataHere figure{
      max-width: 25%;
      flex : 0 0 25%;
      margin:0 0  30px;
      padding: 0 15px;
  }
  #loadDataHere figure img{
      width: 100%;
      height: auto;
  }